.raw{
    text-align: center;
  }
  
  option{
    text-align: center;
  }
  
  select{
    text-align: center;
    padding: 5px;
    border-style: none none solid solid ;
    border-width: 3px;
    border-color: #00bcd4;
    border-radius: 5px;
    background-color: #e0f7fa;
    width: 300px;
    outline-style: none;
  }
  
  input[type=submit] {
    width: 80px;
    box-sizing: border-box;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    font-size: 16px;
    color: #ffff;
    background-color: #4541f1;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 12px 10px;
  }
  input[type=button]{
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    font-size: 16px;
    color: #ffff;
    background-color: #4541f1;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 12px 5px;
  }

  ::placeholder{
    color: #ffff;
  }
  
  #frame{
    display: none;
  }

  
  input[type=text] {
    font-family:'Montserrat';
    width: 800px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ffff;
    border-radius: 10px;
    font-size: 15px;
    color: #ffff;
    background-color: #4541f1;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
    text-align: left;
  }

  .sidebar{
    display:block;
  }

  .homepage{
    background-color: #F5F5F5;
  }
  
  .result{
    display:block;
  }

  .home{
    display:block;
  }
  
  .menu{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #e0f7fa;
    border: 1px solid #00bcd4;
    text-align:center;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .hamburger{
    color: #ffff;
    background: #4541f1;
    border: 1px solid #4541f1;
    width: 50px;
    height: 50px; 
    border-radius: 40px;
  }
  
  aside{
    /* 
    border-color: #4541f1; */
    float: right;
    width: 20%;
    height: 100%;
    display:none;
  }

  
  .article1{
    text-align: center;
  }
  
  .article2{
    text-align: center;
  }
  
  #row  {
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 20px;
    color: white;
    border-style: solid  ;
    background-color:#4541f1 ;
    border-width: 4px;
    border-radius: 25px 0px 0px 25px;
    width: 150%;
    height: 100%;
    margin-top: 100px;
    /* margin-left: 60px; */
    margin-right: 10px;
  }
  
  .copertina{
    width: 90px;
    height: 90px; 
    border-radius: 50px;
  }
  .container{
    background-color: lightblue;
    border-style: solid;
    height:100%;
  }

/* FOOTER  */

.entrata{
  color: #59A444;
}

.bar{
  color: #FE7540;
}

.bagni{
  color: #526EFE;
}

.info{
  color: #FDAD3F;
}

.stand{
  color: #000000;
}

.exit{
  color: #A85734;
}

.footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
  
  
  
  
  