@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,700&family=Montserrat:wght@300;400;500;700&display=swap');


html{
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  height: 100vh;
}

body{
  height: 100%;
  background-color: #4541f1;
  padding-bottom: 5vh;
}

/* navbar */

.nav-button{
    background: transparent;
    border: 0px solid transparent;
    width: 5cqw;
  }

  #navbar-buttons {
    background-color: #4541f1;
    padding: 2vw 2vh 2vw 2vh;
    margin-left: 2vw;
    display: inline;
    margin-top: 2vh;
    border: 0px solid transparent;
    border-radius: 50px;
  }
  

  /* Form */

  option{
    text-align: center;
  }

  aside{
    /* 
    border-color: #4541f1; */
    float: right;
    width: 20%;
    height: 100%;
    display:none;
    margin-top: 8%; 
  }

  /* form */

  #form{
    background-color: #4541f1;
    padding: 0px 10vw;
  }

  .row>*{
    /*Resetting bootstrap default values*/
    width:unset;
    flex-shrink: unset;
    padding-right: unset;
    padding-left: unset;
    max-width: unset;
    margin-top: unset;
  }
  
  .row{
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .row label {
    font-size: 4.375rem;
    color: white;
  }

  .row select{
    width: 20vw;
    opacity: 40%;
    padding:0px;
    height: 4.3125rem;
    border: 0px solid transparent;
    border-radius: 20px;
    font-weight: 600;


    color: #4541f1;
    text-decoration: none;
  }

  /*remove button bootstrap style*/
  #search {
    width: unset;
    box-sizing: border-box;
    border: unset;
    border: 0px solid  transparent;
    border-radius: 4px;
    color: #4541f1;
    background-color: transparent;
    background-position: unset; 
    background-repeat: unset;
    padding: unset;
    text-align: center;
    
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin: auto;
    background-color: white;
    text-decoration: none;
    padding: 0.8rem 6rem;
    border-radius: 50px;
    margin-top: 5vh;
  }

  .inputs-separator{
    border: 2px solid white;
  }
  /*Fine modifica form*/


  /* footer */

  .entrata{
    color: #59A444;
  }
  
  .bar{
    color: #FE7540;
  }
  
  .bagni{
    color: #526EFE;
  }
  
  .info{
    color: #FDAD3F;
  }
  
  .stand{
    color: #000000;
  }
  
  .exit{
    color: #A85734;
  }
  
  #footer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }

  /* Visualizzazione fiera */

  #model {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    padding-left: 5vw;
    align-items: center;
  }

  .float-child {
    width: 50%;
  } 

  .webgl{
    width: 100%;
    border: 3px dashed #4541f1;
    border-radius: 20px;
  }

  #canvas{
    height:  50vh;
  }

  #home{
    width: 35%;
    background-color: #4541f1;
    padding: 2vw 4vh 2vw 5vh;
    color: white;
    border: 0px solid transparent;
    border-radius: 20px 0px 0px 20px;
  }

  #home .info_fiera {
    color: white;
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
  }


  .info-fiera-detail p{
    margin-bottom: unset;
    font-weight: 300;
  }
  
  strong{
    font-weight: bold;
  }
  
  #home h4{
    margin-bottom: 5vh;
    font-size: 2rem;
  }
  
  #name{
    font-weight: 300;
    margin-bottom: 0;
    font-size: 2rem;
  }
a{
  color: #fff;
}
  
#resultBtn button {
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  border: 1px solid white;
  padding: 1vw 3vw;
  border-radius: 50px;
  text-align: left;
  background-color: #4541f1;
}

#resultBtn {
  margin: 10vh 10vw;
  text-align: left;
}